fastapi
uvicorn
pydantic
python-dotenv
langchain==0.1.17
langchain-community==0.0.36
langchain-core==0.1.52
langchain-openai==0.1.4
chromadb
openai==1.16.1
numpy
pandas
streamlit
requests
langchain-groq==0.1.3